version: "3.8"

services:
  postgres:
    image: postgres
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgres


volumes:
  postgres_data: