version: '3.8'

services:
  # app:
  #   build: .
  #   env_file:
  #     - ./.env
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - pg_network

  postgres:
    image: postgres
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data1:/var/lib/postgresql
    # networks:
    #   - pg_network

# networks:
#   pg_network:
#     driver: bridge
volumes:
  postgres_data1:
